.my-work{

    &__thumbnail{
        display: inline-block;
        position: relative;
        /* border: 1px solid black; */
        font-weight: 600;
        max-width: 100%;
        flex-shrink: 1;
        opacity: 1;
        max-width: 100%;
        border: 2px solid $altGreen;
        box-sizing: border-box;

        @include atSmall{
            max-width: 600px;
            width: 100%;
        }

        @include atMedium{
            max-width: 50%;
            border: none;
        }
    }


    &__thumbnail__slide-container{
        position: absolute;
        background-color: #eeeded;
        opacity: 0;
        overflow: hidden;
        height: 100%;
        width: 100%;
        /* border: 1px solid green; */
        z-index: 2;
        top: 0;
        left: 0;
        transition: opacity .4s linear;

        &:hover {

            @include atMedium{
                opacity: 1;
            }
        }

        &:hover .my-work__thumbnail__slide-bottom , &:hover .my-work__thumbnail__slide-top{

            @include atMedium{
                transform: translateY(0);
            }
        }
    }

    &__thumbnail__slide-top{
        height: 50%;
        width: 100%;
        /* border: 1px solid red; */
        color: $mainColor;
        text-align: center;
        text-transform: uppercase;
        transform: translateY(-100%);
        transition: transform .4s linear;
        padding: 2rem;
        box-sizing: border-box;
    }

    &__thumbnail__slide-bottom{
        height: 50%;
        width: 100%;
        text-transform: uppercase;
        /* border: 1px solid rgb(98, 143, 194); */
        transform: translateY(100%);
        transition: transform .4s linear;
    }

    &__image{
        display: block;
        max-width: 100%;
        height: auto;
    }

    &__thumbnail__button{
        text-decoration: none;
        color: $mainColor;
        padding: 1rem 1.7rem;
        border: 2px solid $altRed;
    }

    &__thumbnail__button--mobile{
        position: absolute;
        padding: .8rem 1.5rem;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        background-color: $mainColor;
        border: none;
        color: #fff;
        z-index: 2;

        @include atMedium{
            display: none;
        }
    }

    /* &__thumbnail__link{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 5;
    } */

}

/* .my-work__thumbnail__link:hover .my-work__thumbnail__slide-bottom{
    transform: translateY(0)
} */



